@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --grid-bg-color: 255, 255, 255;
  --btn-bg-color: 245,245,180;
  --grid-card-hover-color: 251, 242, 220;
  --grid-card-box-shadow: 0 0 15px -5px rgb(0 0 0 / 10%);
  --video-container-box-shadow: 0 0 65px -5px rgb(0 0 0 / 30%);
  --grid-section-heading-gradient: linear-gradient( -225deg, #c69e00 0%, #fff93e 29%, #ffd013 67%, #cdc601 100% );
  --menu-nav-box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3);
  --btn-gradient: linear-gradient(90deg, #B100C0 0%, #0048D3 100%);
  --mobile-menu-bg: 239, 239, 239;
  --filter-value: brightness(0) invert(0);
  --neutral-white: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --grid-bg-color: 36, 36, 38;
    --btn-bg-color: 0, 0, 0;
    --grid-card-hover-color: 46, 44, 32;
    --grid-card-box-shadow: 0 0 15px -5px rgb(0 0 0 / 10%);
    --video-container-box-shadow: 0 0 65px 10px rgba(255, 255, 255, 0.2);
    --grid-section-heading-gradient: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    --menu-nav-box-shadow: -2px 2px 70px -25px rgba(255,255,255,0.3);
    --btn-gradient: linear-gradient(90deg, #B100C0 0%, #0048D3 100%);
    --mobile-menu-bg: 18, 18, 18;
    --filter-value: brightness(0) invert(1);
    --neutral-white: 255, 255, 255;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.2s ease; */
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 20px 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu !important;
  font-display: swap;
  transition: all 0.5s ease-in-out;
  padding: 0px;
}

.bgColorGlobal {
  background-color: rgb(var(--background-rgb));
}

.textColorGlobal {
  color: rgb(var(--foreground-rgb));
}

.bgInvert {
  background-color: rgb(var(--foreground-rgb));
}

.textInvert {
  background-color: rgb(var(--background-rgb));
}

/* .textGradient {
  background: var(--text-gradient);
} */

.imageContainer {
  width: fit-content;
  height: fit-content;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filled-button, .sectionHarpreetAvailability {
	background: var(--btn-gradient);
	color: rgb(var(--neutral-white));
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

/* Globals Responsive Grid CSS start */

@media only screen and (min-width: 0px) and (max-width: 320px){
  .max-parent-grid-container-width {
    max-width: 304px;
  }
  
  :root {
    --sub-menu-max-width: 304px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px){
  .max-parent-grid-container-width {
    max-width: 345px;
  }  

  :root {
    --sub-menu-max-width: 345px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 390px){
  .max-parent-grid-container-width {
    max-width: 350px;
  }
  
  :root {
    --sub-menu-max-width: 350px;
  }
}

@media only screen and (min-width: 391px) and (max-width: 554px){
  .max-parent-grid-container-width {
    max-width: 390px;
  }  

  :root {
    --sub-menu-max-width: 390px;
  }
}

@media only screen and (min-width: 555px) and (max-width: 709px){
  .max-parent-grid-container-width {
    max-width: 90%;
  }  

  :root {
    --sub-menu-max-width: 90%;
  }
}

@media only screen and (min-width: 710px) and (max-width: 990px){
  .max-parent-grid-container-width {
    max-width: 702px;
  }  

  :root {
    --sub-menu-max-width: 702px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1279px){
  .max-parent-grid-container-width {
    max-width: 860px;
  }  

  :root {
    --sub-menu-max-width: 860px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px){
  .max-parent-grid-container-width {
    max-width: 1180px;
  }  

  :root {
    --sub-menu-max-width: 1180px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px){
  .max-parent-grid-container-width {
    max-width: 1300px;
  }  
  
  :root {
    --sub-menu-max-width: 1300px;
  }
}

@media only screen and (min-width: 1661px) {
  .max-parent-grid-container-width {
    max-width: 1540px;
  }  

  :root {
    --sub-menu-max-width: 1540px;
  }
}

/* Globals Responsive Grid CSS end */










/* ------------------------------------------------------------------------ */


/* Template - Globals Responsive Grid CSS start

@media only screen and (min-width: 0px) and (max-width: 320px){

}

@media only screen and (min-width: 321px) and (max-width: 375px){

}

@media only screen and (min-width: 376px) and (max-width: 390px){

}

@media only screen and (min-width: 391px) and (max-width: 554px){

}

@media only screen and (min-width: 555px) and (max-width: 709px){

}

@media only screen and (min-width: 710px) and (max-width: 990px){

}

@media only screen and (min-width: 991px) and (max-width: 1279px){

}

@media only screen and (min-width: 1280px) and (max-width: 1366px){

}

@media only screen and (min-width: 1367px) and (max-width: 1600px){

}

@media only screen and (min-width: 1661px) {

}

Globals Responsive Grid CSS end */